.input_wrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  min-width: 220px;
}

.input_text {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;

  font-size: 16px;
  color: #323232;
}

label {
  font-size: 12px;
  color: #7a7a7a;

  margin-bottom: 3px;
}

.error {
  color: #fa7070;
}
